<html>
   <table class="schedule" border = 5 solid>
    <h1>SCHEDULE</h1>

    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Subject</th>
      <th>teacher</th>
    </tr>
    <tr>
      <td>'8:30'</td>
      <td>'10:05'</td>
      <td>'Алгоритмізація та програмування, частина 2'</td>
      <td>'Баран В.М.'</td>
    </tr>
    <tr>
      <td>'10:20'</td>
      <td>'11:55'</td>
      <td>'Електротехніка та електроніка'</td>
      <td>'Мадай В.С.'</td>
    </tr>
    <tr>
      <td>'12:10'</td>
      <td>'13:45'</td>
      <td>'Дискретна математика'</td>
      <td>'Дзелендзяк У.Ю'</td>
    </tr>
    <tr>
      <td>'14:15'</td>
      <td>'15:50'</td>
      <td>'Дискретна математика'</td>
      <td>'Дзелендзяк У.Ю'</td>
    </tr>
  </table>
</html>
